body {
  margin: 5px auto;
  box-sizing: border-box;
  background: linear-gradient(-45deg, lightpink, lightcoral);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
